{% include "django_pdf/html_template/js/templateFileContent.js.html" %}
{% include "django_pdf/js/template.js.html" %}

<script>
    const initialContent = "{{ initial_content|escapejs }}"
    {% verbatim %}
        const FIND_VARIABLES_REGEX = /{{(.*?)}}/g;
    {% endverbatim %}

    function pdfTemplateCtx (){
        return {
            ...baseTemplateCtx(),
            templateFilePath: null,
            variableName: "",
            get templateFileName(){
              if (this.templateFilePath) {
                  return this.templateFilePath.replace(/^.*[\\\/]/, '')
              }
            },
            get variableNameClass() {
                if (this.contextSchema.hasOwnProperty(this.variableName)){
                    return "p-1 border border-danger flex-fill me-1"
                }
                return "p-1 flex-fill me-1"
            },
            addContextVariable(){
                const variableName = this.variableName
                if (!this.contextSchema.hasOwnProperty(variableName)) {
                    this.contextSchema[variableName] = {
                        required: false,
                        font_size_px: 16,
                        x_pos: 0,
                        y_pos: 0,
                    }
                    this.exampleContext[variableName] = "Hello World"
                    const container = document.getElementById('annotate-container');
                    const rectangle = document.createElement('div');
                    rectangle.classList.add('border', 'bg-success', 'opacity-50', 'px-2');
                    const family = `contextSchema['${variableName}'].font_family`
                    const font_size_px = `(contextSchema['${variableName}'].font_size_px + 'px')`
                    rectangle.setAttribute(
                        ":style",
                        `{'font-family': ${family}, 'font-size': ${font_size_px}, 'transform': translate(contextSchema['${variableName}'].x_pos+'px', contextSchema['${variableName}'].y_pos+'px')}`
                    )
                    rectangle.setAttribute(
                        "x-text",
                        `contextSchema['${variableName}'].show_example?exampleContext['${variableName}']: '${variableName}'`
                    )

                    // Make the rectangle draggable and resizable
                    interact(rectangle)
                        .draggable({
                            onmove: (event) => {
                                const target = event.target;
                                const x = (this.contextSchema[variableName].x_pos || 0) + event.dx;
                                const y = (this.contextSchema[variableName].y_pos || 0) + event.dy;

                                target.style.transform = `translate(${x}px, ${y}px)`;
                                this.contextSchema[variableName].x_pos = x
                                this.contextSchema[variableName].y_pos = y
                                console.log(this.contextSchema)
                                console.log(target)
                            },
                        })

                    // Append the rectangle to the drawing container
                    container.appendChild(rectangle);
                    this.variableName = ""
                }
            },
            findVariables(){
                const currentContent = editor.getValue()
                let variables = [];
                let variable
                while ((variable = FIND_VARIABLES_REGEX.exec(currentContent)) !== null) {
                  variables.push(variable[1].trim());
                  this.addContextVariable(variable[1].trim())
                }
                for (variable of Object.keys(this.contextSchema)){
                    if (!variables.includes(variable)){
                        this.removeContextVariable(variable)
                    }
                }

            },
            removeContextVariable (variableName) {
                if (this.contextSchema.hasOwnProperty(variableName)) {
                    delete this.contextSchema[variableName]
                }
                if (this.exampleContext.hasOwnProperty(variableName)) {
                    delete this.exampleContext[variableName]
                }
            },
            saveData() {
                {#this.findVariables()#}
                const form = document.getElementById('templateForm');
                if (form.reportValidity()) {
                    this.setInputValue('context_schema', this.contextSchema)
                    this.setInputValue('example_context', this.exampleContext)
                    form.submit()
                }
            }
        }
    }

    document.addEventListener('alpine:init', () => {
        Alpine.data("pdfTemplate", pdfTemplateCtx)
    });
</script>