{% extends "django_pdf/base.html" %}
{% load static %}
{% block header %}
    <title>Edit PDF template</title>
    <link rel="stylesheet"
          href="{% static "django_pdf/monaco-editor/min/vs/editor/editor.main.css" %}">
    <script src="{% static "django_pdf/monaco-editor/min/vs/loader.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.10.111/build/pdf.min.js"></script>
    <script>
        require.config({paths: {'vs': '{% static "django_pdf/monaco-editor/min/vs" %}'}});
    </script>
{% endblock %}
{% block content %}
    <div class="container" x-data="pdfTemplate">
        <form
            id="templateForm" method="post"
            action="{{ request.get_full_path }}"
            enctype="multipart/form-data"
            class="row"
        >
            {% csrf_token %}
            <div class="col-md-4">
                {% include "django_pdf/pdf_template/components/context_schema.html" %}
            </div>

            <div class="col-md-8">
                {% include "django_pdf/pdf_template/components/top_bar.html" %}
                {% include "django_pdf/pdf_template/components/pdf.html" %}
            </div>
        </form>
        {% include "django_pdf/pdf_template/js/pdfTemplate.js.html" %}
    </div>
{% endblock %}