{% include "django_pdf/js/contextSchema.js.html" %}
{% include "django_pdf/js/exampleContext.js.html" %}

<script>
    function baseTemplateCtx() {
        return {
            contextSchema,
            exampleContext,
            pdfDimensions: {
                pageWidthPx: 0,
                pageHeightPx: 0,
            },
            name: "{{ form.name.value|default:"" }}",

            setInputValue(id, valueObj) {
                const element = document.getElementById(id);
                element.value = JSON.stringify(valueObj);
            },

            setupLocalPDFViewer(previewElement, fileElement) {
                const pdfUrl = URL.createObjectURL(fileElement.files[0]);
                this.setupPdfViewer(previewElement, pdfUrl);
            },

            setupPdfViewer(previewElement, pdfUrl, onCompleteFunc = null) {
                if (!previewElement || !pdfUrl) return;
                const { pdfDimensions } = this;
                previewElement.innerHTML = '';  // Clear existing content in the preview element

                pdfjsLib.getDocument(pdfUrl).promise.then(pdfDoc => {
                    const totalPages = pdfDoc.numPages;
                    for (let pageNum = 1; pageNum <= totalPages; pageNum++) {
                        this.renderPageToCanvas(pdfDimensions, previewElement, pdfDoc, pageNum);
                    }

                    if (onCompleteFunc) {
                        onCompleteFunc(pdfDoc, pdfUrl);
                    }
                });
            },

            renderPageToCanvas(pdfDimensions, previewElement, pdfDoc, pageNum) {
                pdfDoc.getPage(pageNum).then(page => {
                    const canvas = document.createElement('canvas');
                    previewElement.appendChild(canvas);

                    const viewport = page.getViewport({ scale: 1.0 });
                    const aspectRatio = viewport.width / viewport.height;
                    const maxWidth = previewElement.parentElement.parentElement.clientWidth;
                    const maxHeight = Math.round(maxWidth / aspectRatio);

                    // Update PDF dimensions
                    pdfDimensions.pageWidthPx = Math.max(maxWidth, pdfDimensions.pageWidthPx);
                    pdfDimensions.pageHeightPx = Math.max(maxHeight, pdfDimensions.pageHeightPx);

                    canvas.width = maxWidth;
                    canvas.height = maxHeight;
                    canvas.style.marginBottom = '10px';

                    const context = canvas.getContext('2d');
                    const scaledViewport = page.getViewport({ scale: maxWidth / viewport.width });
                    page.render({ canvasContext: context, viewport: scaledViewport });
                });
            },
        };
    }
</script>
