{% include "django_pdf/js/contextSchema.js.html" %}
{% include "django_pdf/js/exampleContext.js.html" %}

<script>
    function baseTemplateCtx() {
        return {
            contextSchema,
            exampleContext,
            pdfFileDetails: {
                totalWidthPX: 0,
                totalHeightPX: 0,
            },
            name: "{{ form.name.value|default:"" }}",

            setInputValue(id, valueObj) {
                const element = document.getElementById(id);
                element.value = JSON.stringify(valueObj);
            },

            setupLocalPDFViewer(previewElement, fileElement) {
                const pdfUrl = URL.createObjectURL(fileElement.files[0]);
                this.setupPdfViewer(previewElement, pdfUrl);
            },

            setupPdfViewer(previewElement, pdfUrl, onCompleteFunc = null) {
                if (!previewElement || !pdfUrl) return;

                // Clear existing content in the preview element
                previewElement.innerHTML = '';
                const { pdfFileDetails } = this;

                pdfjsLib.getDocument(pdfUrl).promise.then(pdfDoc => {
                    for (let pageNum = 1; pageNum <= pdfDoc.numPages; pageNum++) {
                        pdfDoc.getPage(pageNum).then(page => {
                            // Create and append canvas for each page
                            const canvas = document.createElement('canvas');
                            previewElement.appendChild(canvas);

                            const viewport = page.getViewport({ scale: 1.0 });
                            const aspectRatio = viewport.width / viewport.height;
                            const maxWidth = previewElement.parentElement.parentElement.clientWidth;
                            const maxHeight = Math.round(maxWidth / aspectRatio);

                            // Update total width and height
                            pdfFileDetails.totalWidthPX = Math.max(maxWidth, pdfFileDetails.totalWidthPX);
                            pdfFileDetails.totalHeightPX += maxHeight + 10; // including marginBottom

                            canvas.width = maxWidth;
                            canvas.height = maxHeight;
                            canvas.style.marginBottom = '10px';

                            const context = canvas.getContext('2d');
                            const renderContext = {
                                canvasContext: context,
                                viewport: page.getViewport({ scale: maxWidth / viewport.width }),
                            };
                            page.render(renderContext);
                        });
                    }

                    if (onCompleteFunc) {
                        onCompleteFunc(pdfDoc, pdfUrl);
                    }
                });
            },
        };
    }
</script>
